<template lang="pug">
  .wrapper.my-2
    .card(v-if="data.type === 'text' || data.type === 'text_btn'")
      .card-body
        h5.card-title
          pre {{data.type}}
        .card-text
          p {{data.value.text}}
          .btn-group(v-if="data.type === 'text_btn'")
            .btn.btn-primary(v-for="button in data.value.buttons") {{button.name}}
    .card(v-if="data.type === 'list'")
      .card-body
        h5.card-title
          pre {{data.type}}
        .card-text
          p {{data.value.name}}
          ul
            li(v-for="item in data.value.items") {{item}}
    .card(v-if="data.type === 'table'")
      .card-body
        h5.card-title
          pre {{data.type}}
        .card-text
          table.table
            thead
              tr
                th(scope="col" v-for="(header, key) in data.value.headers" :key="key") {{header}}
            tbody
              tr(v-for="(row, key) in data.value.rows")
                th(v-for="(td, td_key) in row.cells") {{td}}
</template>

<script>
export default {
  name: 'Card',
  data: () => {
    return {
    }
  },
  props: {
    data: {
      type: Object
    }
  }
}
</script>

<style scoped>
/*.content {
  background-color: #F5F5F8 ;
  border-radius: 5px;
  padding: 10px;
}
*/</style>
