<template lang="pug">
  .container
    multiselect.select(
      v-model="input"
      @select="addItem"
      :options="options"
      :clear-on-select="true"
      :showNoResults="false"
      placeholder="Пооооогнали....."
    )
    .row.mt-4
      .col-sm-12.col-md-6
        Card(v-for="(card, index) in cards" :data="card" :key="index")

</template>

<script>
import Card from './Card.vue'
export default {
  name: 'Main',
  data: () => {
    return {
      cards: [],
      input: '',
      options: ['foo', 'bar', 'bazz']
    }
  },
  methods: {
    async addItem (value) {
      this.cards.unshift({type:"text", value: {text: value}})
      let data = await this.$api.getItem(value)
      if ('data' in data) {
        this.cards.unshift(data.data)
        this.input = ''
      }
    }
  },
  async created () {
    let { data } = await this.$api.getOptions()
    if (data) {
      this.options = data.names
    }
  },
  components: {
    Card
  }
}
</script>
