<template lang="pug">
  #app
    Main
</template>

<script>
import Main from './components/Main.vue'

export default {
  name: 'App',
  data: () => {
    return {
    }
  },
  components: {
    Main
  }
}
</script>

<style>
  #app {
    padding: 20px;
  }
</style>
